.icon-48-myfriendss {
      background-image: url(../images/l_myfriendss.png);
      padding-left:60px!important;
}

.icon-48-myfriends {
      background-image: url(../images/l_myfriendss.png);
      padding-left:60px!important;
}

